<nav>
    <div class="site-title">
        <a href="/">Brit Blog</a>
        <p>A Brit Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>