<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %> 
<body>'
    <%- include('partials/nav.ejs') %>'
    <h1>oopppsss wrong page</h1>

    <%- include('partials/footer') %> 
</body>
</html>